.vs/

# guides and implementation plans
Planning/

###################################### BACKEND ######################################
# env file
.env

# Exclude DLLs
*.dll

# cache files
*.cache

# obj and bin folders files
**/obj/
**/bin/

###################################### FRONTEND ######################################

# dependencies
serveranalysisfrontend/node_modules

# testing
serveranalysisfrontend/coverage

# production
serveranalysisfrontend/build

# misc
serveranalysisfrontend/.DS_Store
serveranalysisfrontend/.cache
serveranalysisfrontend/*.log

README.md