.sidebar {
  width: 180px;
  height: calc(100vh - 20px);
  background-color: rgba(46, 46, 46, 0.6);
  color: white;
  padding: 1rem;
  position: fixed;
  top: 50px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar li {
  margin-bottom: 1rem;
}

.sidebar a {
  color: white;
  text-decoration: none;
  font-weight: 500;
}

.sidebar a.active {
  text-decoration: underline;
}

.close-btn {
  display: none;
  background: none;
  border: none;
  color: white;
  font-size: 1.2rem;
  padding: 0.5rem;
  cursor: pointer;
}

@media (max-width: 768px) {
  .close-btn {
    display: block;
    margin-left: auto;
  }
}