.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.layout-body {
  display: flex;
  flex: 1;
  background-color: #fff;
}

.main-content {
  flex: 1;
  padding: 2%;
  overflow-y: auto;
}
