.App { /* centers the text of any element with the class App. */
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}



.App-link { /* sets the text color of elements with the class App-link to a light blue color. */
  color: #61dafb;
}

@keyframes App-logo-spin { /* rotates the element from 0 degrees to 360 degree, spinning circle */
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*
* Own implementations
*/

.App-header { /* px is fixed */
  background-color: #282c34;
  padding: 20px;
  color: white;
}

.App-header h1 { /* em is relative */
  font-size: 2em;
}

.navbar { /* horizontal children, all children container start (left) */
  display: flex;
  justify-content: flex-start;
  position: relative;
}

.menu {
  top: 100%; /* Positions the dropdown just below the bottom edge of .navbar */
  left: 0;
  background-color: aqua;
  width: 100%;
  position: relative;
}

.menu ul { /* horizontal container start (left), without bullet point */
  display: flex;
  list-style-type: none;
  padding: 0;
}

.menu.open {
  background-color: red;
}

.test ul li { /* margin right between elements */
  margin-right: 20px;
}



.dropdown{
  display: none;
  
}

.dropdown ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;
  margin: 0;
}

.dropdown ul li {
  margin: 10px 0;
}

.hamburger-menu { /* hamburger icon */
  display: none;
}

@media (max-width: 600px){ /* breakpoint for small screens */
  .App-header h1 {
    font-size: 1em;
  }

  menu.ul{
    flex-direction: column;
  }

  .navbar ul { /* hides it */
    /*display: none;*/
  }

  .dropdown.open {
    display: flex;
  }

  .hamburger-menu { /* hamburger icon */
    display: block;
  }
}