/* ===== Global base styles ===== */
* {
  box-sizing: border-box;
}

body, html, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: system-ui, sans-serif;
  background-color: #fefdfd;
}

.page-title {
  text-align: center;
  font-size: 2rem;
  font-weight: 600;
  margin: 2rem auto;
  border-bottom: 1px solid #ddd;
  padding-bottom: 0.5rem;
  max-width: 100%;
}

.page-body {
  display: flex;
  justify-content: center;
  padding: 2%;
  margin-top: 20px;
}

.page-content {
  width: 100%;
  max-width: 900px;
}